.quiz {
  color: #293264;
  user-select: none;
  .answers {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    padding: 0.5rem 0;

    .answer {
      min-width: 5rem;
      width: fit-content;
      align-self: center;
      text-align: center;
      padding: 0.5rem;
      border: 1px solid #293264;
      border-radius: 15px;
      cursor: pointer;
    }
    .active {
      background-color: #d6dbf5;
      border: 1px solid #d6dbf5;
    }
    .missed {
      border: 1px solid #f8bcbc;
      background-color: #f8bcbc;
    }
    
    .correct {
      border: 1px solid #94D7A2;
      background-color: #94D7A2;
    }
  }
}
