.settings {
  position: absolute;
  background-color: #69daff;
  border-radius: inherit;
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  box-shadow: 2px 2px 5px 1px #ff99cca1;
  opacity: 0;
  animation: fade-in 300ms ease-in-out forwards;
  .user-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    input,
    select {
      border: none;
      border-radius: 7px;
      height: 2rem;
      cursor: pointer;
      text-indent: 0.5rem;
    }
  }
  .confirmation {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
  }
}
