.modal-box {
  --height: 20dvh;
  background-color: aliceblue;
  box-shadow: 2px 2px 5px 1px #202020;
  position: fixed;
  top: calc((100% - var(--height)) / 2);
  height: var(--height);
  width: var(--height);
  border-radius: 10px;
  transition: 1s ease-in-out;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .modal-box--content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .btn {
      padding: 0.5rem 1.5rem;
      border: none;
      border-radius: 5px;
      background-color: #5035ff;
      color: white;
      font-weight: bold;
      box-shadow: 1px 1px 5px 1px #202020;
      &:hover {
        cursor: pointer;
      }
      &:active {
        box-shadow: inset 0 0 5px 2px #202020;
        transform: scale(85%);
        transition: transform 100ms;
      }
    }
    p {
        text-align: center;
        margin-top: 0.5rem;
    }
  }
  .btn-close {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    &:hover {
      cursor: pointer;
      box-shadow: 1px 1px 5px 2px #606060;
    }
    &:active {
      box-shadow: inset 0 0 5px 2px #202020;
      transform: scale(85%);
      transition: transform 100ms;
    }
  }
}
